In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [6]:
import numpy as np
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
my_data

[10, 20, 30]

In [8]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
arr

array([10, 20, 30])

In [13]:
import pandas as pd
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [14]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(labels,my_data)

10    a
20    b
30    c
dtype: object

In [20]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [21]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [22]:
d

{'a': 10, 'b': 20, 'c': 30}

In [23]:
labels

['a', 'b', 'c']

In [30]:
pd.Series(data=[sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [31]:
ser1=pd.Series([1,2,3,4],['Malay','Shefali','Nilay','Pralay'])

In [32]:
ser1

Malay      1
Shefali    2
Nilay      3
Pralay     4
dtype: int64

In [33]:
ser2=pd.Series([1,2,5,4],['Malay','Shefali','Papai','Babai'])
ser2

Malay      1
Shefali    2
Papai      5
Babai      4
dtype: int64

In [35]:
ser1['Malay']

1

In [40]:
ser1[1]

2

In [42]:
ser3=pd.Series (data=labels)
ser3

0    a
1    b
2    c
dtype: object

In [44]:
ser3[2]

'c'

In [48]:
ser1+ser2

Babai      NaN
Malay      2.0
Nilay      NaN
Papai      NaN
Pralay     NaN
Shefali    4.0
dtype: float64

In [46]:
ser2

Malay      1
Shefali    2
Papai      5
Babai      4
dtype: int64

In [47]:
ser3

0    a
1    b
2    c
dtype: object